body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-detail {
    background-color: #222831;
    margin-bottom: 40px;
}

.nav-detail .title {  
  padding: 1em; 
  padding-left: 1em;  
  color: whitesmoke;
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

/* MOVIE FIELD */

.movie-detail-card {
    display: flex;
    min-height: 60vh;
    border-radius: 20px;
}

.movie-detail-figure {
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 10px;
    height: 280px;
    width: 500px;
    object-fit: scale-down;
    object-position: top;
}

.details-movie {
    margin-top: 40px;
    margin-left: 20px;
    padding-right: 20px;
}

.setLanguage {
    border: none;
    border-radius: 6px;
    outline: none;

}

.details-movie h3 {
    color: #FF5733;
    font-size: 1.5em;
}

.details-movie h4 {
    color: white;
}

.details-movie p {
    color: gray;
    font-size: 1em;
    font-weight: bold;
}


@media(max-width:900px) {
    .movie-detail-figure {
        height: 230px;
        width: 420px;
        object-fit: cover;
        object-position: center;
    }
}

@media(max-width:840px) {
    .movie-detail-figure {
        height: 290px;
        width: 550px;
    }

    .movie-detail-card {
        display: grid;
        width: 95%;
    }
}

@media(max-width:630px) {
    .movie-detail-figure {
        height: 220px;
        width: 460px;
        object-fit: cover;
        object-position: center;
    }

    .nav-detail .title {
        font-size: 1.8em;
      }
}

@media(max-width: 530px) {
    .movie-detail-figure {
        height: 180px;
        width: 420px;
        object-fit: cover;
        object-position: center;
    }

    .nav-detail .title {
        font-size: 1.6em;
      }
}

@media(max-width: 470px) {
    .movie-detail-figure {
        height: 150px;
        width: 300px;
        object-fit: cover;
        object-position: center;
    }

    .nav-detail .title {
        font-size: 1.4em;
      }
}
