@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: #17223b;
    box-sizing: border-box;  
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.titleMovieList {
    padding-left: 45px;
    color: #FF5733;
    padding-top: 2em;    
}

@media (max-width: 720px) {
    .titleMovieList {
        margin-top: 40px;
        padding-left: 10px;
    }
}

@media (max-width: 630px) {
    .titleMovieList {
        padding-left: 20px;
    }
}


@media (max-width: 410px) {
    .titleMovieList {
        padding-left: 4px;
    }
}

@media (max-width: 380px) {
    .titleMovieList {
        padding-left: 24px;
    }
}

@media (max-width: 350px) {
    .titleMovieList {
        padding-left: 44px;
    }
}