
.menu {
  display: flex;
  height: 74px;
  align-items: center;
  justify-content: space-around;
  background-color: #17223b;
}

.title {
  color: whitesmoke;
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.menu form input {
  height: 36px;
  border-radius: 8px 0 0 8px;
  outline: none;
  border: none;
  background-color: #ececec;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 1em;
}

.menu form input::-webkit-input-placeholder {
  color: gray;
}

.menu form input:hover {
  transform: scale(0.9);
}

.menu form button {
  border: none;
  border-radius: 0 8px 8px 0;
  width: 40px;
  height: 38px;
  background-color: white;
  font-weight: bold;
}

.menu form button:hover {
  background-color: whitesmoke;
}

/* Genres */

.genres-select {
    background-color: gray;
    width: 150px;
    outline: none;
    border-radius: 8px;
    font-size: 1em;
    height: 38px;
    border: none;
    color: white;
}
