
.trending-content {
    position: absolute;
    background-color: #ececec;
    width: 30%;
    min-height: 50vh ;
    left: 58em;
    top: 8em;
    border-radius: 10px;
}

@media(max-width:900px) {
    .trending-content {
        top: 10em;
        left: 38em;
    }
}

@media(max-width:890px) {
    .trending-content {
        top: 10em;
        left: 38em;
        width: 25%;
    }

}

@media(max-width:840px) {
    .trending-content {
        top: 10em;
        left: 38em;
        width: 20%;
    }

    .movies-week h1 {
        font-size: 1em;
    }
    
    .movies-week h3 {
        font-size: 1em;
    }

}

@media(max-width:800px) {
    .trending-content {
        top: 10em;
        left: 32em;
        width: 25%;
    }

    .movies-week h1 {
        font-size: 1.5em;
    }
    
    .movies-week h3 {
        font-size: 1.2em;
    }

}

@media(max-width:720px) {
    .trending-content {
        top: 10em;
        left: 26em;
    }
}

@media(max-width:630px) {
    .trending-content {
        top: 10em;
        left: 25em;
    }

}

@media(max-width:590px) {
    .trending-content {
        top: 10em;
        left: 22em;
    }
    .movies-week h1 {
        font-size: 1.5em;
    }
}

@media(max-width: 530px) {
    .trending-content {
        display: none;
    }
}

.movies-week {
    padding: 1em;
}

.movies-week a {
    text-decoration: none;
}

.movies-week h1 {
    text-align: center;
    color: #FFA07A;
}

.movies-week h3 {
    color: gray;
}

.movies-week h3:hover {
    color: #17223b;
}